.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background-color: $color-primary;
  color: $color-white;
  padding: 8px 20px;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    color: $color-white;
    background-color: $primary-darker;
  }

  &:disabled {
    color: $color-white;
    background-color: $color-gray;
  }
}

.button--other {
  background-color: $color-white;
  color: $color-primary;

  &:disabled {
    color: $color-white;
    background-color: $light-grey;
  }
}

.button--card {
  font-size: 14px;
  line-height: 20px;
  content: "";
  background-image: url("../../icons/stack.svg#catalog-basket");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 16% 50%;
  padding-left: 46px;

  @media (min-width: $desktop-width) {
    padding: 8px 20px 8px 49px;
  }
}
