.catalog {
  padding-top: 50px;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $color-primary;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.catalog__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $color-black;
  display: block;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__container-desktop {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 10px;
  }
}

.catalog__wrapper {
  padding-top: 30px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 119px;
  }
}
