.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox-list__control {
  display: inline-block;
  cursor: pointer;
}

.checkbox-list__text {
  padding-left: 62px;
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-black;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: $color-gray;
    border-radius: 12px;
    transition: background-color 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: $color-white;
    transition: left 0.3s;
  }
}

.checkbox-list__field:checked + .checkbox-list__text {
  &::before {
    background-color: $color-primary;
  }

  &::after {
    left: 20px;
  }
}

.checkbox-list__field:checked:hover + .checkbox-list__text {
  &::before {
    background-color: $color-primary;
  }
}

.checkbox-list__field:focus-visible + .checkbox-list__text {
  &::before {
    border: 2px solid $primary-lighter;
    background-color: $primary-lighter;
  }
}

.checkbox-list__field:hover + .checkbox-list__text {
  &::before {
    border: 2px solid $primary-lighter;
    background-color: $primary-opacity;
  }
}

.checkbox-list__field:disabled ~ .checkbox-list__text {
  color: $color-gray;

  &::before {
    background-color: $lightest-grey;
  }
}

.checkbox-list__field:disabled:hover ~ .checkbox-list__text {
  &::before {
    border: none;
  }
}

.checkbox-list__field:disabled:checked ~ .checkbox-list__text {
  &::after {
    background-color: $color-gray;
  }
}
