.filter__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.filter__group {
  padding: 0;
  border: none;
  max-width: 318px;
}

.filter__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.filter__title--pixsel {
  margin-bottom: 30px;
}

.filter__range-group {
  display: flex;
  justify-content: space-between;
}

.filter__range-label {
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  text-align: center;
}

.filter__range-number {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: $color-black;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $color-gray;
    opacity: 1;
  }
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
