.filter__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 7px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 32px 7px;
  }
}

.filter__group {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 318px;
}

.filter__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.filter__title--pixsel {
  margin-bottom: 30px;
}

.filter__range-group {
  display: flex;
  justify-content: space-between;
}

.filter__range-label {
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 87px;
    padding: 5px 10px 5px 5px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.filter__range-number {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: $color-black;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $color-gray;
    opacity: 1;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.filter__button {
  @media (min-width: $desktop-width) {
    padding: 8px 28px;
  }
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    justify-content: start;
    max-width: 318px;
    gap: 0 25px;
  }
}
