.hero {
  background-color: $flat-white;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 61px;
    background: linear-gradient(0deg, rgba(255 255 255) 28%, rgba(243 235 225) 29%);
  }

  @media (min-width: $desktop-width) {
    padding: 30px;
    padding-bottom: 70px;
    background: $flat-white;
  }
}

.hero__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.hero__card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__card-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero__button {
  width: 20px;
  height: 500px;
  color: $color-primary;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 620px;
  }
}

.hero__prev {
  transform: rotate(180deg);
}

.hero__pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero__pagination-item {
  margin: 0 4px;
}

.hero__pagination-button {
  width: 62px;
  height: 4px;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
  border: none;
  cursor: pointer;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }

  &:hover,
  &:focus {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $color-primary;
  }
}

.hero__pagination-button-current {
  background-color: $color-primary;
}

.hero__controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateX(-6%) translateY(-50%);

  @media (min-width: $tablet-width) {
    transform: translateX(-10%) translateY(-71%);
  }
}

.hero__image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  order: 1;

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.hero__image {
  display: block;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.hero__wrapper-text {
  @media (min-width: $desktop-width) {
    margin-top: 150px;
    margin-left: 15px;
  }
}

.hero__card-new {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: $color-primary;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero__card-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: $color-black;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero__card-text {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-right: 10px;
    margin-bottom: 40px;
  }
}

.hero__card-wrapper-price {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    gap: 20px;
  }
}

.hero__card-wrapper-price-back {
  display: flex;
  gap: 6px;
  padding-top: 5px;
}

.hero__card-price-old {
  font-size: 16px;
  line-height: 32px;
  color: $color-primary;
}

.hero__card-price-new {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
