.logo {
  display: flex;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }

  &:link:hover {
    opacity: 0.8;
  }

  &:link:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
}

.social__logo {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}
