.logo {
  display: flex;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
    padding-top: 22px;
    align-self: stretch;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.logo__image {
  display: block;
}

.social__logo {
  align-self: center;
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 170px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    align-self: flex-start;
  }
}
