.logo {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }

  &:link:hover {
    opacity: 0.8;
  }

  &:link:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
}

.header__logo-sign {
  &:link:hover {
    opacity: 0.8;
  }

  &:link:active {
    opacity: 0.6;
  }
}
