// stylelint-disable
.noUi-handle {
  box-shadow: none;
  background-color: $color-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $primary-opacity;
    outline: none;
  }

  &:active {
    background-color: $color-primary;
  }
}

.noUi-base {
  height: 4px;
}

.noUi-target {
  border: none;
  height: 2px;
  background: $light-grey;
  border-radius: 0%;
  box-shadow: none;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-connect {
  background: $primary-lighter;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle-upper {
  right: -7px;
}

.noUi-horizontal .noUi-handle-lower {
  right: -23px;
}
