.pagination {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 20px;
  }
}

.pagination__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.pagination__link {
  display: block;
  text-decoration: none;
  color: $color-primary;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  background-color: $color-white;
}


.pagination__link--current {
  color: $color-black;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  background-color: $lightest-grey;
}

.pagination__img {
  width: 10px;
  height: 6px;
}

.pagination__link-move {
  background-color: $color-white;
  text-decoration: none;
}

.pagination__move {
  display: flex;
  align-items: center;
  color: $color-primary;
  width: 40px;
  height: 40px;
  padding: 8px 10px;
  mask-image: url("../../icons/stack.svg#catalog-stroke");
  mask-size: 15px 10px;
  mask-repeat: no-repeat;
  background-color: $color-primary;
  mask-position: 50% 50%;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    mask-image: none;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 8px 20px;
  }
}

.pagination-next {
  transform: rotate(180deg);

  @media (min-width: $tablet-width) {
    transform: rotate(0);
  }
}
