.range {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.range__field[type="number"] {
  appearance: textfield;
}

.range__split {
  width: 8px;
  height: 2px;
  background-color: $color-gray;
  display: flex;
  align-self: center;
}
