.site-list {
  font-size: 12px;
  line-height: 16px;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-60%);

  @media (min-width: $tablet-width) {
    width: auto;
    transform: translateY(0);
  }

  &.is-active {
    transform: translateY(100%);

    @media (min-width: $tablet-width) {
      transform: translateY(0);
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    background-color: inherit;
  }
}

.site-list.no-js {
  position: static;
  transform: translateY(0);
  grid-column: 1 / -1;
  margin-top: 15px;
}

.site-list__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $color-secondary;


  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    column-gap: 22px;
    max-width: 600px;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: $color-black;
  padding: 22px 22px 18px;
  border-bottom: 1px solid $color-secondary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 32px 19px 30px;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px 30px;
  }

  &:hover,
  &:focus {
    color: $primary-lighter;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
  }
}
