.social {
  display: flex;
  min-width: 280px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  border-bottom: 1px solid $color-gray;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-bottom: none;
    flex-direction: column;
    justify-content: start;
    min-width: 348px;
  }
}

.social__text {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 195px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.social__link {
  display: flex;
  color: $color-gray;
  align-self: center;

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-secondary;
    outline: none;
  }

  &:active {
    color: $color-primary;
    background-color: $primary-opacity;
  }
}

.social__svg {
  width: 40px;
  height: 40px;
}
