.user-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list__item {
  align-items: center;
}

.user-list__link {
  text-decoration: none;
  background-color: #333333;
}

.user-list__link--user {
  mask-image: url("../../icons/user.svg");
}

.user-list__link--union {
  mask-image: url("../../icons/union.svg");
}
